* {
    font-family: arial;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-section-container {
    width: 100%;
    background-color: #2B72EE;


}

.main-section-container .nav-bar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;



}

.nav-bar h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding-top: 30px;


}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 40px;
    padding-top: 30px;


}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.nav-bar button {
    width: 230px;
    height: 50px;
    background-color: rgb(27, 10, 176);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 23px;
    margin-top: 30px;
    border-radius: 10px;

}

.Homepage-section-container {
    width: 90%;
    margin-left: 80px;

}

.Homepage-section-container .Homepage-section {
    display: flex;
}

.Homepage-section .first-section {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    gap:20px ;
    transition: .9s linear;
   
  
}

.ani {
    
    animation-name: sliding2;
    animation-duration: 2s;
    animation-timing-function: all ease-in-out;
    animation-iteration-count: 1;
   

}



@keyframes sliding2{
    0%{
        transform: translateX(-700px);

    }

    100%{
        transform: translateX(0px);
    }
}



.Homepage-section .first-section span {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.Homepage-section .first-section h1 {
    color: white;
    font-size: 80px;
}

.Homepage-section .first-section p {
    color: white;
    font-weight: bold;
    font-size: 15px;
}



.first-section .buttons button {
    padding: 19px 75px;
    font-size: 20px;
    background-color: rgb(2, 83, 189);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-family: arial;
}

.h3{
    color: black;
    background-color: white;
    font-size:20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px 8px;
    border:5px solid gray;
    top: 5px ;
    left: 33%;

}



.first-section .buttons button:nth-child(2) {
    margin-right: 0;
    background-color: rgb(38, 38, 38);
}

.Homepage-section .second-section {
    width: 50%;
    height: 600px;
}

.Homepage-section .second-section img {
    width: 100%;
    height: 590px;
    object-fit: cover;
}


.about-section-container {
    width: 100%;

    background-color: white;


}

.about-section-container .about-first-section-container {
    width: 90%;
    height: 100vh;
    display: flex;
    margin-left: 70px;
}

.about-first-section-container .first-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .9s linear;
    background-repeat: no-repeat;
}

.about-first-section-container :hover.first-section{
    transform: translateY(0);
    transition: .9s linear;
}

@keyframes sliding{
    0%{
        transform: translateY(-700px);

    }

    100%{
        transform: translateY(0px);
    }
}

.about-first-section-container .first-section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 50%;
}

.about-first-section-container .second-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.about-first-section-container .second-section h2 {
    color: rgb(12, 112, 195);
    font-size: 30px;
    padding-left: 90px;
}

.about-first-section-container .second-section h1 {
    font-size: 60px;
    color: rgb(36, 35, 35);
    padding-left: 90px;
}

.about-first-section-container .second-section p {
    color: gray;
    padding-left: 90px;
}

.about-first-section-container .second-section .button {
    display: flex;

}

.second-section .button button {
    width: 250px;
    height: 70px;
    font-size: 30px;
    color: rgb(9, 105, 201);
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 15px;
    background-color: white;
    border: none;

}

.second-section .button button img {
    width: 60px;
}

.second-section .button button p {
    font-size: 10px;
}

.second-section button {
    border-radius: 10px;
    padding: 12px 24px;
    width: 170px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(22, 121, 227);
    border: none;
    margin-left: 90px;
}

.about-section-container .second-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;

}

.second-section-container h2 {
    color: rgb(0, 60, 255);
    font-weight: bold;
    padding-top: 40px;
}

.second-section-container h3 {
    font-size: 50px;
    margin-top: -50px;
}

.second-section-container .card-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
    overflow: hidden;
}

.second-section-container .card-section .card {
    width: 310px;
    height: 280px;
    background-color: #2B72EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 25px;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
}

.second-section-container .card-section .card:hover{
    background-color: #01399a;
}

.card-section .card span {
    background-color: rgb(42, 41, 41);
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin-right: 130px;

}

.card-section .card h1 {
    color: white;
    font-weight: bold;
    font-size: 28px;

}

.card-section .card p {
    color: white;
    display: flex;
    text-align: justify;
    font-size: 17px;
}

.card{
    transform: translateY(500px);
    transition: 2s all ease-in-out;
}

.card:hover{
    transform: translateY(0px);
    transition: 2s all ease-in-out;
}

.card-section:hover .card{
    transform: translateY(0px);
    transition: 2s all ease-in-out;
}

.Job-List-section-container {
    width: 100%;
    background-color: rgb(255, 255, 255);

}


.Job-List-section-container .Job-List-second-section-container {
    width: 90%;
    display: flex;
    margin-left: 75px;

}

.Job-List-second-section-container .first-section {
    width: 50%;
    display: flex;
    align-items: center;
    height: 750px;

}

.Job-List-second-section-container .first-section img {
    width: 450px;
    height: 550px;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 150px;

}

.first-section img:nth-child(2) {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-left: -270px;
    margin-top: 320px;
    border-bottom-right-radius: 250px;
    transform: translateX(-180%);
    transition: .9s linear;
    background-repeat: no-repeat;
}

.Job-List-second-section-container :hover.first-section img:nth-child(2){
    transform: translateY(0);
    transition: .9s linear;
}

@keyframes sliding{
    0%{
        transform: translatex(0);

    }

    100%{
        transform: translatex(100%);
    }
}



.Job-List-second-section-container .second-section {
    width: 50%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.Job-List-second-section-container .second-section span {
    color: #2B72EE;
    font-weight: 800;
    font-size: 20px;
}

.Job-List-second-section-container .second-section h5 {
    font-size: 50px;
}

.Job-List-second-section-container .second-section p {
    color: gray;
    font-size: 17px;

}

.second-section .text {
    display: flex;
    gap: 15px;

}

.second-section .text .icon h1 {
    color: #2B72EE;
    font-size: 50px;
    padding-top: 35px;
}

.second-section .text .text-data h3 {
    font-size: 30px;
    font-weight: bolder;
}

.second-section .text .text-data p {
    padding-top: 10px;
}



/* job-first-section */

.Job-List-section-container .job-first-section-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #2B72EE;
}

/* first */

.job-first-section-container .first-section {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.job-first-section-container .first-section h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 90px;
    font-weight: bold;
}

.job-first-section-container .first-section span {
    font-size: 50px;
    color: white;
    margin-left: 90px;
    font-weight: bolder;

}

.job-first-section-container .first-section p {
    color: white;
    font-size: 15px;
    margin-left: 90px;

}

.job-first-section-container .first-section button {
    border-radius: 10px;
    padding: 12px 24px;
    width: 170px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(4, 25, 48, 0.723);
    border: none;
    margin-left: 90px;
    margin-top: 30px;

}

/* second */

.job-first-section-container .second-section {
    width: 60%;
    height: 100vh;


}

.second-section .right-section {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.second-section .right-section .card3 {
    width: 250px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:5px solid #01399a;
    transition: .2s linear;
}

.second-section .right-section .card3:hover{
    border-radius: 0%;
    transition: .2s linear;
}

.right-section .card3 .img-data {
    width: 250px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.card3 .img-data img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.card3 .img-data h1 {
    font-size: 25px;
    margin-left: 9px;
}

.card3 .text-data {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 20px;

}

.card3 .text-data span {
    font-size: 20px;
    font-weight: bold;

}

.card3 .text-data h1 {
    font-size: 25px;
    color: #2B72EE;
    font-weight: normal;
}

.second-section .left-section {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}


.second-section .left-section .card3 {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border:5px solid #01399a;
    transition: .2s linear;
}

.second-section .left-section .card3:hover{
    border-radius: 0%;
    transition: .2s linear;
}

.left-section .card3 .img-data {
    width: 270px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.card3 .img-data img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.card3 .img-data h1 {
    font-size: 25px;
    margin-left: 9px;
}

.card3 .text-data {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 20px;

}

.card3 .text-data span {
    font-size: 20px;
    font-weight: bold;

}

.card3 .text-data h1 {
    font-size: 25px;
    color: #2B72EE;
    font-weight: normal;
}

.Job-List-section-container .therd-section-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #01399a;
    overflow: hidden;


}

.Job-List-section-container .therd-section-container h1 {
    font-size: 60px;
    padding-top: 30px;
    color: white;
}

.Job-List-section-container .therd-section-container img {
    width: 80px;
    margin-left: 47%;
}


/* page-section */

.main-section-container .page-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    overflow: hidden;
}

.page-section-container .page-first-section {
   width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.page-first-section .left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    margin-left: 100px;
   
}

.page-first-section .left-section h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #2B72EE;
    font-weight: bold;
   
}

.page-first-section .left-section span {
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.page-first-section .left-section p {
    color: rgb(0, 0, 0);
    font-size: 17px;


}

.page-first-section .left-section button {
    border-radius: 10px;
    padding: 12px 24px;
    width: 170px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #2B72EE;
    border: none;
    margin-top: 30px;


}

.page-first-section .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right-section .top-section .card {
    width: 300px;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;

}

.card img {
    width: 25%;

}

.card .top-section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20px;
    gap: 20px;

}

.card .top-section .text h1 {
    font-size: 25px;
    color: black;
    font-weight: bolder;
}

.card .top-section .text span {
    font-size: 15px;
    font-weight: normal;
    color: black;
}

.right-section .down-section .card {
    width: 300px;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 20px;

}

.card img {
    width: 25%;

}

.card .down-section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20px;
    gap: 10px;

}

.card .down-section .text h1 {
    font-size: 25px;
    color: black;
    font-weight: bolder;
}

.card .down-section .text span {
    font-size: 15px;
    font-weight: normal;
    color: black;
}

/* page-section-second */

.Pages-section-container .pages-second-section-container{
    width: 100%;
    height: 100vh;
    background-color:rgb(255, 14, 14);
    display: flex;
}

.pages-second-section-container .first-section{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-second-section-container .first-section img{
    width:65%;
}

.pages-second-section-container .second-section{
    width:70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.pages-second-section-container .second-section h1{
    color: #2B72EE;
    font-size:22px;
    padding-top: 20px;
}

.pages-second-section-container .second-section h2{
    font-size: 50px;
}

.pages-second-section-container .second-section .text-data{
    width: 100%;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}

.pages-second-section-container .second-section .text-data p{
    font-size: 20px;
    color: gray;
    display: flex;
    text-align: center;
}

.pages-second-section-container .second-section .text-data span{
    font-size:25px;
    font-weight: bold;
}

.pages-second-section-container .second-section .text-data img{
    width:80px;
    border-radius: 50%;
}

.pages-second-section-container .therd-section{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-second-section-container .therd-section img{
    width:65%;
}


.page-section-container .therd-section-container{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 120px;
}

.page-section-container .therd-section-container .first-section{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.therd-section-container .first-section .input-data{
    background-color:#01399a;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 20px;
    width: 600px;
    height:670px;
}

.therd-section-container .first-section .input-data h6{
    font-size:27px;
    font-weight: bolder;
    color: white;
    padding-left: 50px;
}

.therd-section-container .first-section .input-data input{
    width:500px;
    height:60px;
    border-radius: 10px;
    border:none;
    margin-left: 50px;
    padding-left: 10px;
    font-size: 20px;
    
}

.therd-section-container .first-section .input-data input:nth-child(5){
    height:250px;
    display: flex;
    text-align:start;
    padding-bottom:200px;
    font-size: 20px;
}

.therd-section-container .first-section .input-data button{
    width: 500px;
    height:60px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #2B72EE;
    margin-left: 50px;
}


.page-section-container .therd-section-container .second-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.page-section-container .therd-section-container  .second-section h3{
    color: #2B72EE;
    font-size:25px;
    padding-left:60px;
   

} 

.page-section-container .therd-section-container  .second-section h5{
    font-size:55px;
    padding-left:55px;
}

.page-section-container .therd-section-container  .second-section p{
    color: gray;
    font-size: 20px;
    padding-left:60px;
}


.page-section-container .therd-section-container .second-section .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    
}

.page-section-container .therd-section-container .second-section .text p{
    font-size: 16px;
}

.page-section-container .therd-section-container .second-section .text span{
    font-size: 20px;
    font-weight: bolder;
    padding-left: 30px;
}

.page-section-container .number-section{
    width: 100%;
    height:250px;
    background-color: #01399a;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.page-section-container .number-section .number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:150px;
    
}

.page-section-container .number-section .number span{
    color: white;
    font-size:80px;
    font-weight: bold;
    display: flex;
   

}

.page-section-container .number-section .text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    gap: 150px;
}



.page-section-container .pages-four-section-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
   
}

.pages-four-section-container span {
    color: #2B72EE;
    font-weight: bolder;
    font-size: 20px;
    margin-left:50px;
   
}

.pages-four-section-container .first-four-section {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 600px;
    
}

.pages-four-section-container .first-four-section h1 {
    font-size: 45px;
    padding-left:50px;

}

.pages-four-section-container .first-four-section button {
    border-radius: 10px;
    padding: 14px 5px;
    width: 170px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #2B72EE;
    border: none;

}

.pages-four-section-container .card-section-container {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.pages-four-section-container .card-section-container .card {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  gap:20px;
  align-items: center;
  justify-content: start;
  margin-top: 50px;
    
}

.card-section-container .card img {
 width: 400PX;
 height: 400px;
 object-fit: cover;

}

.card-section-container .card span {
    color: black;
    margin-right: 100px;
    font-size: 15px;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 10px;

}

.card-section-container .card h1 {
    font-size: 20px;
    text-align: center;
}

.card-section-container .card p {
    color: grey;
    text-align: center;
}

.Contact-section-container{
    width: 100%;
    height:650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01399a;
    margin-top: 100px;
}

.Contact-section-container .contact-first-section-container{
    border-bottom:2px solid rgb(255, 255, 255);
    width: 90%;
    height:170px;
    display: flex;
    align-items: center;
    gap: 100px;
    
}

.contact-first-section-container img{
    width: 40px;
}

.contact-first-section-container h2{
    font-size: 30px;
    color: white;
}

.contact-first-section-container .text-section {
    gap: 5px;
    display: flex;
}

.contact-first-section-container .text-section .text p{
    color: white;
    font-size: 20px;
}

.contact-first-section-container .text-section .text span{
    color: white;
    font-size:25px;
    font-weight: bolder;
}

.text-section img{
    width:50px;
    margin-right: 10px;
    margin-left:30px;
}

/* contact-second-section */

.Contact-section-container .contact-second-section-container {
    width: 90%;
    height: 450px;
    display: flex;
    
}

.contact-second-section-container .second-about-section {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 100px;
    padding-left: 50px;
    gap: 20px;
}

.second-about-section h1 {
    color: white;
    font-size: 27px;
    font-weight: bolder;
}

.second-about-section p {
    color: white;
}

.second-about-section span {
    font-size: 20px;
    background-color: #01399a;
    display: flex;
    gap: 15px;
   
}

.contact-second-section-container .second-usfule-section {
    width: 250px;
    height: 450px;
    padding-top: 100px;
    padding-left: 20px;
   
    
}

.second-usfule-section h2 {
    color: white;
    font-size: 27px;

}

.second-usfule-section span {
    color: white;
    font-size: 15px;
    display: flex;
}



.contact-second-section-container .second-what-section {
    width: 250px;
    height: 450px;
    padding-top: 100px;
    padding-left: 20px;
}

.second-what-section h2 {
    color: white;
    font-size: 27px;

}

.second-what-section span {
    color: white;
    font-size: 15px;
    display: flex;
    

}


.contact-second-section-container .second-subscribe-section {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-subscribe-section h2{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding-top:90px;
}

.second-subscribe-section input{
    width: 350px;
    height:60px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 16px;

}

.second-subscribe-section button{
    width: 350px;
    height:60px;
    border: none;
    border-radius: 10px;
    font-size:20px;
    color: white;
    background-color: #2B72EE;
}

